body 
  padding 0
  margin 0
  // background url('http://cdn2.didiapp.com/mpclock/hour5_2.png')
  background-color #f7f7f7
  div 
    font-size 2rem
    display flex
    width 100%
    justify-content center
    align-items center
    margin-top 20%
